
/*** twitter feed
*/

$color: #d27d0f;

#tweets {
  & ol {
    margin-left:0;
    padding: 0;
    list-style-type: none;
  }
  line-height: 16px;
  & .p-author::before, .p-author::after {
    content: "";
    display: table;
  }
  .p-author::after {
    clear: both;
  }
  
  & .fullname {
    color: #292f33;
    font-weight: bold;
  }
  & .p-nickname, .retweet-credit {
    color: #707070;
    font-style: 12px;
  }
  & .retweet-credit {
    margin :3px 0px;
  }
   .ic-rt {
     height: 16px;
     margin-right: 4px;
     width: 14px;
     background-repeat: no-repeat;
     background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAQlBMVEUAAAD///+qqqqampqYmJiYmJiampqZmZmampqYmJiZmZmZmZmYmJiZmZmYmJiZmZmZmZmampqZmZmZmZmZmZmZmZkeqhVWAAAAFXRSTlMAAQNTVIaIiquur7KztL3ByMnNzv5cxk8TAAAAR0lEQVQI112ISRKAIACA0Mw22+X/X+3Q2CEuDEAsSwyH6gaQtQ+3qkCqWjsABWbV6cumse03U9WaAFWvkHUA2FXPEMsa+fEAXfYErZIY3aMAAAAASUVORK5CYII=);
   }
  & .avatar {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 4px;
    height: 48px;
    left: -57px;
    position: absolute;
    top: 0;
    width: 48px;
    vertical-align: baseline;
  }

  & .content {
    margin-left: 58px;
  }
  & .account-group , a:link, a:visited {
    color: #8899a6;
  }

  & .tweet {
    border-bottom: 1px solid #e1e8ed;
    min-height: 51px;
    border-width: 0 0 1px;
    padding: 12px 12px 10px 69px;
    position: relative;
  }
  & .header {
    position: relative;
  }

  & .e-entry-title a:link, .e-entry-title a:visited {
    color:$color;
  }
  & .follow-button:link, .follow-button:visited {
    background-color: #eeeeee;
    background-image: linear-gradient(#ffffff, #dedede);
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font: bold 11px/18px "Helvetica Neue",Arial,sans-serif;
    padding: 0 5px 0 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    margin-top: 10px;
    margin-right: 12px;
  }
  & .ic-button-bird {
    height: 16px;
    margin: 0 3px 0 0;
    width: 16px;
    background-image : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAzFBMVEUAAACAgP9AgL9mmf9VqtVJkttAn99VldVEmd1apfBRlNdVqupSretMl9lSre1NmdVOnNVKmtdSqOdVru1Lm9VWrO1Uq+5LmdZLm9ZLmddLmtZUre9SpeNUrO9Qn9xUqOhNm9ZVrO5MmddTrOxNmdZLmtZVq+9MmtVRo+JPndlNm9ZVrO5Vqu1VrO5VrO5Mm9ZVrO5MmtZMmtZVrO5Vq+1VrO5VrO5MmtZNm9dNnNlOndlQouBQo+FRpeRSpeVSpuZSp+dUq+xVq+1VrO54VKqhAAAAN3RSTlMAAgQFBgcIDA8RExgZGxweJCY1RVxlZ2lwc3d/gI6QkpaZnp+jqausrq/ByMrR1uzs8vP3/P3+Hpk01QAAAHtJREFUeAGNx1UWAkEMRNHg7u7uPkgaGs/+90TSWQBzP+rUg/+CurVhPZqP8FsWpMeIuJvk+B28RgwyaJ/WLMLcvRt6s/6LiD5FYOvT3eCVREq6TfR9PyQ3IALTC6kqOC1SqxCo0l5ym3WRbM6PXOdBAlS83B11Kmnw5Qcf/xOHHtFshgAAAABJRU5ErkJggg==);

  }
  & .ic-rt, .ic-button-bird {
    display: inline-block;
    vertical-align: middle;
  }
}